$color: #ededed;
$dark: #cdcdcd;

body {
    background: $color;
    font: Helvetica Neue;
    font-size: 20px;
}

#content {
    color: gray;
    &:after {
        content: '';
        width: 100%;
        position: absolute;
        border-bottom: 1px solid $dark;
        left: 0;
        bottom: 1px;
    }
}